.navbar {
    background: #7D84B2;
    color: #f9f9ed;
    justify-content: center;
    padding: 10px;
}

.navbar a {
    color: #dbf4a7;
    padding: 5px;
}

.navbar a:hover {
    color: #f9f9ed;
}

