.navbar {
    background: #8093F1;
    color: #f9f9ed;
    justify-content: center;
    padding: 10px;
}

.navbar a {
    color: #F7AEF8;
    padding: 5px;
}

.navbar a:hover {
    color: #72DDF7;
}

